<div class="feature-card" [class.feature-card--image-right]="imageRight">

  <div *ngIf="imageSrc" class="feature-card__image-wrap">
    <img [src]="imageSrc" [alt]="feature.title" class="feature-card__image" loading="lazy">
  </div>

  <!-- Text block -->
  <div class="feature-card__text">

    <h3 class="feature-card__title">{{ feature.title }}</h3>
    <p class="feature-card__desc">{{ feature.description }}</p>
    <a routerLink="." fragment="download" class="feature-card__link" [class.feature-card__link--dark]="dark">
      立即下载体验
    </a>
  </div>

</div>
