<div class="invite-page surface-light">
  <div class="invite-page__content">

    <!-- 页头：Logo + 应用名 -->
    <div class="invite-page__header">
      <span class="invite-page__logo-text">ZRGenesis</span>
      <span class="invite-page__app-name">全民万年黄历通</span>
    </div>

    <!-- 邀请信息区 -->
    <div class="invite-page__intro">
      <h1 class="invite-page__title">朋友邀请你注册</h1>
      <p class="invite-page__desc">通过邀请码注册账号，注册成功后即可开始使用全民万年黄历通。</p>
    </div>

    <!-- 消息提示 -->
    <div *ngIf="errorMessage" class="invite-page__message invite-page__message--error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="invite-page__message invite-page__message--success">{{ successMessage }}</div>

    <!-- 注册表单 -->
    <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" class="invite-page__form" novalidate>

      <div class="invite-page__field">
        <label class="invite-page__label">邀请码</label>
        <input formControlName="inviteCode" type="text" readonly class="invite-page__input invite-page__input--readonly"
          [value]="inviteCode" placeholder="邀请码" />
        <p class="invite-page__hint">邀请码已自动填入，不可修改</p>
      </div>

      <div class="invite-page__field">
        <label class="invite-page__label">手机号 <span class="invite-page__required">*</span></label>
        <input formControlName="phoneNumber" type="tel" placeholder="请输入手机号" maxlength="11"
          class="invite-page__input" />
      </div>

      <div class="invite-page__field">
        <label class="invite-page__label">验证码 <span class="invite-page__required">*</span></label>
        <div class="invite-page__sms-row">
          <input formControlName="verificationCode" type="text" placeholder="请输入6位验证码" maxlength="6"
            class="invite-page__input invite-page__input--sms" />
          <button type="button" (click)="sendVerificationCode()" [disabled]="isCountingDown"
            class="invite-page__sms-btn">
            {{ isCountingDown ? (countdown + 's后重发') : '获取验证码' }}
          </button>
        </div>
      </div>

      <button type="submit" [disabled]="isLoading" class="invite-page__submit">
        {{ isLoading ? '提交中...' : '立即注册' }}
      </button>

    </form>

    <!-- 下载提示 -->
    <p class="invite-page__footnote">
      注册成功后，前往
      <a href="https://sj.qq.com/appdetail/com.zrgenesiscloud.chinesealmanc" target="_blank" rel="noopener noreferrer"
        class="invite-page__link">应用宝</a>
      下载全民万年黄历通
    </p>

  </div>
</div>
